.listContainer {
}

.listContainer__table {
    width: 100%;
    border-collapse: collapse;
}

.listContainer__table th,
.listContainer__table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.listContainer__table th {
    background-color: #f2f2f2;
    text-align: left;
}